<template name="header">
  <header class="header" id="top">
    <div class="text-vertical-center">
<!-- <h1>jabSquared</h1> -->
      <img alt="jabSquared" src="../img/logo.png"/>
      <h3>Let's Start!</h3>
      <br>
      <form class="" role="form">
        <div class="form-group col-lg-8">
          <input class="form-control input-lg" name="idea" placeholder="Tell us about your app idea..." type="text">
        </div>
<!-- <div class="row">
          <div class="col-xs-8" style="padding-right: 0px">
            <input name="idea" type="text" class="form-control input-lg" placeholder="Tell us about your app idea...">
          </div>
          <div class="col-xs-4" style="padding-left: 5px">
            <input name="email" class="form-control input-lg"  placeholder="Email (optional)" type="email">
          </div>
        </div> -->
      </form>
      <p>
        or
      </p>
      <a class="btn btn-dark btn-lg" href="#about">Find Out More</a>
    </div>
  </header>
</template>
