<template name="header">

  <header class="header" id="top">
    <div class="text-vertical-center">
      <!-- <h1>jabSquared</h1> -->
      <img src="../img/logo.png" alt="jabSquared" />
      <h3>Let's Start!</h3>
      <br>
      <div id="container" class="ltr">

      <form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://jabsqaured.wufoo.com/forms/zlbx4di17tk6wn/#public">

          <ul>

              <p id="foli4" class="notranslate">
                  <label class="desc" id="title4" for="Field4">
                      Send us an idea!
                  </label>

                  <div>
                      <textarea id="Field4" name="Field4" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="1" onkeyup=""></textarea>

                  </div>
              </p>

              <p id="foli1" class="notranslate">
                  <label class="desc" id="title1" for="Field1">
                      Email
                  </label>
                  <div>
                      <input id="Field1" name="Field1" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="2" />
                  </div>
              </p>
              <p class="buttons ">
                  <div>

                      <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit" />
                  </div>
              </p>

              <li class="hide">
                  <label for="comment">Do Not Fill This Out</label>

                  <input type="hidden" id="idstamp" name="idstamp" value="Vzsdy5a/sN37DQQggbuJ5EXK4Dia2BjqR0Vy5UsdHow=" />
              </li>
          </ul>
      </form>

  </div>

      <p>
        or
      </p>
      <a class="btn btn-dark btn-lg" href="#about">Find Out More</a>
    </div>
  </header>
</template>
