<template name="header">
  <header class="header" id="top">
    <div class="text-vertical-center">
      <!-- <h1>jabSquared</h1> -->
      <img src="../img/logo.png" alt="jabSquared" />
      <h3>Let's start</h3>
      <br>
      <form>
        <div class="form-group">
          <!-- <input class="form-control"  placeholder="Write out your idea for an app!" type="text"> -->
          <input name="idea" type="text" class="form-control input-lg idea-input" placeholder="What is your idea?">
          <!-- <input name="email" class="form-control email"  placeholder="Enter your email address." type="email"> -->
        </div>
        <!-- <button class="btn btn-light btn-lg" type="submit">Submit Idea</button> -->
      </form>
      <p>
        or
      </p>
      <a class="btn btn-dark btn-lg" href="#about">Find Out More</a>
    </div>
  </header>
</template>
